/** @format */
@import url("https://use.typekit.net/xfo5grg.css");

@font-face {
  font-family: "knockouthtf48-featherweight";
  src: url("./assets/fonts/knockout-htf48-featherweight-webfont.woff")
      format("woff"),
    url("./assets//fonts/knockout-htf48-featherweight-webfont.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: new-reason, sans-serif;
  font-weight: bold;
}

.overlay-footer {
  position: absolute;
}

.a-enter-vr-button {
  display: none;
}

#my-interface {
  user-select: none;
  display: none;
  background: lavenderblush;
  color: #333333;
  border-radius: 1em;
  padding: 1em;
  margin: 0;
  accent-color: hotpink;
}

#my-interface h2 {
  margin: 0;
}

#my-interface fieldset {
  padding: 0;
  margin-bottom: 0.5em;
}

#dom-overlay-message {
  padding: 1em;
  background: #33333355;
  border-top: 5px solid #ffffff55;
  color: white;
}

/* ------- main menu ------------------------------------------*/

.main-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.main-menu-container {
  position: relative;
}

#sign {
  height: 90vh;
}

.main-content {
  position: absolute;
  left: 48%;
  transform: translateX(-50%);
  bottom: 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}

.mainButton {
  color: #ffffd5;
  border: none;
  background-color: #f0693f;
  padding: 10px 15px 5px 15px;
  font-family: new-reason, sans-serif;
  font-weight: bold;
  position: relative;
  box-shadow: 0.33px 0.33px #de4d1f, 0.66px 0.66px #de4d1f, 1px 1px #de4d1f,
    1.33px 1.33px #de4d1f, 1.66px 1.66px #de4d1f, 2px 2px #de4d1f,
    2.33px 2.33px #de4d1f, 2.66px 2.66px #de4d1f, 3px 3px #de4d1f,
    3.33px 3.33px #de4d1f, 3.66px 3.66px #de4d1f, 4px 4px #de4d1f,
    4.33px 4.33px #de4d1f, 4.66px 4.66px #de4d1f, 5px 5px #de4d1f;
}

.mainButton:hover {
  background-color: #de4d1f;
  box-shadow: 0.33px 0.33px #b13f1c, 0.66px 0.66px #b13f1c, 1px 1px #b13f1c,
    1.33px 1.33px #b13f1c, 1.66px 1.66px #b13f1c, 2px 2px #b13f1c,
    2.33px 2.33px #b13f1c, 2.66px 2.66px #b13f1c, 3px 3px #b13f1c,
    3.33px 3.33px #b13f1c, 3.66px 3.66px #b13f1c, 4px 4px #b13f1c,
    4.33px 4.33px #b13f1c, 4.66px 4.66px #b13f1c, 5px 5px #b13f1c;
}

.textButton {
  background-color: firebrick;
  color: #0e8d49;
  background-color: Transparent;
  border: none;
  font-size: 3.8vh;
  font-family: "knockouthtf48-featherweight";
}

.introBtn {
  font-size: 2.5vh;
  margin-bottom: 5%;
}

.gameplayButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
  transform: translateX(-2.25%);
}

.gameplayButtons button {
  font-size: 1.8vh;
  padding: 8px 10px;
  margin: 4px;
}

/* ------- modal ------------------------------------------ */

.intro-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  filter: drop-shadow(0 0 1rem #031f1074);
}

.modal-content {
  position: relative;
}

.closeBtnConatiner {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 0%;
  top: -1.5%;
}

.closeBtn {
  height: 85%;
  width: 85%;
  border: none;
  background-color: #f0693f;
  padding: 8px;
  box-shadow: 0.33px 0.33px #de4d1f, 0.66px 0.66px #de4d1f, 1px 1px #de4d1f,
    1.33px 1.33px #de4d1f, 1.66px 1.66px #de4d1f, 2px 2px #de4d1f,
    2.33px 2.33px #de4d1f, 2.66px 2.66px #de4d1f, 3px 3px #de4d1f,
    3.33px 3.33px #de4d1f, 3.66px 3.66px #de4d1f, 4px 4px #de4d1f;
}

.closeBtn:hover {
  background-color: #de4d1f;
  box-shadow: 0.33px 0.33px #b13f1c, 0.66px 0.66px #b13f1c, 1px 1px #b13f1c,
    1.33px 1.33px #b13f1c, 1.66px 1.66px #b13f1c, 2px 2px #b13f1c,
    2.33px 2.33px #b13f1c, 2.66px 2.66px #b13f1c, 3px 3px #b13f1c,
    3.33px 3.33px #b13f1c, 3.66px 3.66px #b13f1c, 4px 4px #b13f1c;
}

.modal-text {
  position: absolute;
  right: 5.2%;
  top: 18%;
  width: 31%;
  text-align: center;
}

.modal-text button {
  letter-spacing: 0.06em;
  margin-top: 10%;
}

.modalButtons {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding-top: 10%;
  width: 75%;
  text-align: center;
}

.modalButtons button {
  margin: auto;
  margin-bottom: 10%;
  letter-spacing: 0.06em;
}

#modalBackground {
  width: 75vw;
  max-width: 1000px;
  min-width: 710px;
}

hr {
  height: 3px;
  width: 12px;
  background-color: #ecec43;
  border: none;
  margin-bottom: 0.8em;
  margin-top: 1em;
}

h1 {
  color: #ecec43;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.bodyText {
  color: #fffed5;
  font-size: 0.6em;
  letter-spacing: 0.06em;
  margin: 0;
  line-height: 1.3em;
}

#firstHowTo {
  margin: 0;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructionIcons {
  margin: 0;
  padding: 0;
  height: 1em;
  padding: 3%;
}

@media only screen and (min-height: 506px) and (min-width: 506px) {
  .modal-text {
    right: 4%;
    width: 33%;
  }

  h1 {
    font-size: 1.4em;
  }

  .bodyText {
    font-size: 0.8em;
  }

  .instructionIcons {
    height: 1.5em;
  }
}

@media only screen and (max-width: 1100px) and (min-height: 506px) {
  .modal-text {
    right: 4%;
    width: 33%;
  }

  h1 {
    font-size: 1em;
  }

  .bodyText {
    font-size: 0.6em;
  }

  .instructionIcons {
    height: 1em;
  }

  .modalButtons button {
    font-size: 0.5em;
  }
}
